/* src/styles/globals.css */
* {
    margin: 0;
    /* Elimina márgenes en todos los elementos */
    padding: 0;
    /* Elimina padding en todos los elementos */
    box-sizing: border-box;
    /* Incluye padding y border en el ancho/alto total */
}